body {
    margin: 0;
    font-family: system-ui, -apple-system, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product-card {
    width: 280px;
    background-color: #f7efcf;
    border-radius: 90px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}

.product-content {
    padding: 20px;
    background-color: #f7efcf;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-text h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #b97a1a;
}

.product-text p {
    margin: 6px 0 0;
    font-size: 14px;
    opacity: 0.8;
    color: #b97a1a;
}

.price {
    font-weight: 700;
    font-size: 16px;
    color: #b97a1a;
}

.add-btn {
    align-self: center;
    width: 70%;
    padding: 12px 16px;
    border: none;
    border-radius: 999px;
    background: #f2c94c;
    font-weight: 600;
    cursor: pointer;
    font-weight: 600;
    color: #b97a1a;
    transition: background 120ms ease, transform 120ms ease;
}

.add-btn:hover {
    background-color: #ce9f59;
    transform: translateY(-1px);
}